@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,wght@0,200;0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Pathway Extreme", "Arial", sans-serif; /*'Rubik', "Arial", sans-serif;*/
    color: white;
}

.body-text {
    font-family: "Pathway Extreme", "Arial", sans-serif
}







